@model IEnumerable<C500Hemis.Models.TbDuLieuTrungTuyen>

@{
    ViewData["Title"] = "Index";
}
<html lang="vi">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    }
    <style>

        body {
            position: relative; /* Đảm bảo body là relative để pseudo-element hoạt động chính xác */
        }

            body::before {
                content: ''; /* Pseudo-element yêu cầu content để hiển thị */
                position: fixed; /* Giữ cố định hình nền khi cuộn */
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('https://z-p3-scontent.fhan5-7.fna.fbcdn.net/v/t1.15752-9/462359446_1319527225697451_2574202172796739799_n.png?_nc_cat=109&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeGk1L7o9ljzJ8EOoPmBULC2mD__8wi0uCGYP__zCLS4ITtvQtJlj5lfTO4bB7BR-JY5E_JWLZASuzc6YIC-nyG7&_nc_ohc=JKehoK08bG0Q7kNvgE5Ra4W&_nc_ht=z-p3-scontent.fhan5-7.fna&_nc_gid=Ar0ZmAqLSCnE56eAGpYOZps&oh=03_Q7cD1QExqnZDLAjAEZw5_NyI7ztZ6dhbP0BZ1DFWHBAVGbzvvg&oe=673823C0');
                background-size: cover; /* Đảm bảo hình nền bao phủ toàn bộ */
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed; /* Cố định hình nền khi cuộn */
                opacity: 0.4; /* Làm mờ hình nền */
                z-index: -1; /* Đảm bảo hình nền nằm dưới nội dung */
            }

        h1 {
            font-family: 'Paytone One', sans-serif;
            color: #fe8a81;
            text-align: center;
        }

        table {
            width: 90%;
            border-collapse: collapse;
            font-family: 'News Cycle', sans-serif;
            margin: 20px 0;
            border: 1px solid black;
            margin: 0 auto;
        }

        th {
            border: 1px solid black;
            background-color: green;
            height: 50px;
            padding: 10px;
            text-align: center;
            vertical-align: middle; /* Căn giữa theo chiều dọc */
        }

        td {
            border: 1px solid black;
            background-color: blue;
            height: 50px;
            padding: 10px;
            text-align: center;
            vertical-align: middle; /* Căn giữa theo chiều dọc */
        }

        .action-buttons {
            display: flex;
            flex-direction: column; /* Đặt các nút theo chiều dọc */
            align-items: center; /* Căn giữa các nút */
        }

        .btn {
            display: inline-block; /* Hiển thị các nút dưới dạng khối nội tuyến */
            padding: 5px 10px;
            margin: 5px 0; /* Khoảng cách giữa các nút */
            text-decoration: none; /* Bỏ gạch chân */
            border-radius: 4px; /* Bo góc */
        }

        .btn-edit {
            background-color: #e7e5b2; /* Màu nút sửa */
        }

        .btn-details {
            background-color: #c6cd86; /* Màu nút xem */
        }

        .btn-delete {
            background-color: #7f8750; /* Màu nút xóa */
        }
    </style>
</head>




<h1>DỮ LIỆU TRÚNG TUYỂN</h1>

<p>
    <a asp-action="Create">Thêm Mới Dữ Liệu</a>
</p>
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th class="dtr-control nosort"> </th>
            <th>
                @Html.DisplayNameFor(model => model.Cccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTuyenSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhoaDaoTaoTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruongThpt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToHopMonTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMon1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMon2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMon3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemUuTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongDiemXetTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBanHanhQuyetDinhTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoDaiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NganhDaTotNghiepTrinhDoDaiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoThacSi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NganhDaTotNghiepTrinhDoThacSi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoiTuongDauVaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoiTuongUuTienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHinhThucTuyenSinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKhuVucNavigation)
            </th>
            <th class="nosort"><i>Tùy chọn</i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><i class="fa-solid fa-caret-down"></i></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cccd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoVaTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTuyenSinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhoaDaoTaoTrungTuyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TruongThpt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToHopMonTrungTuyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemMon1)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemMon2)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemMon3)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemUuTien)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongDiemXetTuyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinhTrungTuyen)
                </td>
                <td>
                    @if (item.NgayBanHanhQuyetDinhTrungTuyen.HasValue)
                    {
                        <span>@Html.DisplayFor(modelItem => item.NgayBanHanhQuyetDinhTrungTuyen)</span>
                    }
                    else
                    {
                        <p>Chưa nhập ngày ne!!!</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuongTrinhDaoTaoDaTotNghiepTrinhDoDaiHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NganhDaTotNghiepTrinhDoDaiHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuongTrinhDaoTaoDaTotNghiepTrinhDoThacSi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NganhDaTotNghiepTrinhDoThacSi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDoiTuongDauVaoNavigation.DoiTuongDauVao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDoiTuongUuTienNavigation.DoiTuongUuTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdHinhThucTuyenSinhNavigation.HinhThucTuyenSinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKhuVucNavigation.KhuVuc)
                </td>

                <td>
                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@item.IdDuLieuTrungTuyen" class="btn btn-edit">
                            <i class="fa-solid fa-pen-to-square"></i> Sửa
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdDuLieuTrungTuyen" class="btn btn-details">
                            <i class="fa-solid fa-circle-info"></i> Xem
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdDuLieuTrungTuyen" class="btn btn-delete">
                            <i class="fa-solid fa-trash"></i> Xóa
                        </a>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/r-3.0.3/datatables.min.js"></script>
    <script>
        new DataTable('#example', {

            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Vietnamese.json"
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            columnDefs: [
                {
                    className: 'dtr-control',
                    targets: 0
                },
                { targets: '.nosort' },
                { targets: [0, 1, 2, 3, 4, 5, 11, 19, 22], className: 'all' },   // Các cột luôn hiển thị
                { targets: '_all', className: 'none' }         // Các cột khác chỉ hiển thị trên màn hình lớn
            ],
            order: [1, 'asc'],
            responsive: {
                details: {
                    type: 'column'
                }
            },
            scrollX: true   // Thêm thanh cuộn ngang nếu bảng vượt quá kích thước
        });

    </script>
}
</html>

