@model IEnumerable<C500Hemis.Models.TbDuLieuTrungTuyen>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Import Bootstrap and JQuery-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--DataTables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />

    <script type="text/javascript"
            charset="utf8" src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <!--My CSS anf JQuery-->
    <link href="./css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="./js/FileName.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Name&display=swap">

    <style>
        body {
            background-color: #fff9e9;
            color: #553f3a;
            font-family: "IBM Plex Serif", serif;
            font-weight: 500;
            font-style: normal;
        }

        .table {
            color: #553f3a;
            background-color: #e4f2ef;
            width: 90%;
            margin: auto;
        }



        tr {
            transition: background-color 0.3s ease; /* Thêm hiệu ứng cho hàng */
        }

            tr:hover {
                background-color: #f1f1f1; /* Màu nền khi di chuột vào hàng */
            }

        th {
            background-color: #007BFF;
            color: #553f3a;
            font-size: 14px;
        }

            th:hover {
                background-color: #388895; /* Màu nền khi di chuột vào tiêu đề */
            }

        h1 {
            color: #553f3a;
            text-align: center;
        }

        .btn-primary {
            background-color: #007BFF;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .btn-edit {
            background-color: #88a764; /* Màu xanh lá cho Chỉnh sửa */
        }

            .btn-edit:hover {
                background-color: #f5f6b4;
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
            }

        .btn-details {
            background-color: #8fc8d9; /* Màu xanh dương nhạt cho Chi tiết */
        }

            .btn-details:hover {
                background-color: #c4faf0;
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
            }

        .btn-delete {
            background-color: #dc3f1c; /* Màu đỏ cho Xóa bỏ */
        }

            .btn-delete:hover {
                background-color: #df8584;
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
            }

        .btn-create {
            background-color: null;
        }

            .btn-create:hover {
                font-weight: bold; /* Chữ sẽ đậm hơn khi hover */
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Thêm hiệu ứng bóng đổ khi hover */
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
            }

            /* Khi nhấn nút */
            .btn-create:active {
                font-weight: bolder; /* Chữ sẽ đậm hơn khi nhấn */
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Thay đổi bóng đổ khi nhấn */
            }
    </style>
</head>



<body>
<h1>DỮ LIỆU TRÚNG TUYỂN</h1>

<p>
    <a asp-action="Create">Tạo Dữ Liệu Mới</a>
</p>
<table class="table" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTuyenSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhoaDaoTaoTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruongThpt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToHopMonTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMon1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMon2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMon3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemUuTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongDiemXetTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBanHanhQuyetDinhTrungTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoDaiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NganhDaTotNghiepTrinhDoDaiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoThacSi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NganhDaTotNghiepTrinhDoThacSi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoiTuongDauVaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoiTuongUuTienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHinhThucTuyenSinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKhuVucNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cccd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTuyenSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhoaDaoTaoTrungTuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruongThpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToHopMonTrungTuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemMon1)
                        
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemMon2)
                   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemMon3)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemUuTien)
                    
            </td>
            <td>
                @item.TongDiemXetTuyen?.ToString("N1").Replace(".", ",")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinhTrungTuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBanHanhQuyetDinhTrungTuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuongTrinhDaoTaoDaTotNghiepTrinhDoDaiHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NganhDaTotNghiepTrinhDoDaiHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuongTrinhDaoTaoDaTotNghiepTrinhDoThacSi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NganhDaTotNghiepTrinhDoThacSi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoiTuongDauVaoNavigation.IdDoiTuongDauVao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoiTuongUuTienNavigation.IdDoiTuongUuTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHinhThucTuyenSinhNavigation.IdHinhThucTuyenSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKhuVucNavigation.IdKhuVuc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDuLieuTrungTuyen">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.IdDuLieuTrungTuyen">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDuLieuTrungTuyen">Xóa</a>
            </td>
                 
        </tr>
}
    </tbody>
</table>
<script>
    $('#example').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Vietnamese.json"
        },
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
            responsive: {
                details: false,
            }
    });
       
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
</body>
