@model IEnumerable<C500Hemis.Models.TbThongTinHocTapNghienCuuSinh>

@{
    ViewData["Title"] = "Index";
}
<html lang="vi">
@section Heads {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Import jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- Import Bootstrap 5.3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/2.1.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>

    <!--Reponsive Detail Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

}
<style>
    th {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }

    body {
        background-color: #f8f9fa;
        margin: 0;
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
    }

    h1 {
        text-align: center;
        color: #333;
        font-size: 40px;
        margin-bottom: 20px;
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
    }

    p a {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

        p a:hover {
            background-color: #218838;
        }

    th, td {
        text-align: center;
    }
    th{
        white-space: nowrap;
    }

    table {
        padding-bottom: 50px;
    }

    tr {
        transition: background-color 0.3s ease; /* Thêm hiệu ứng cho hàng */
    }

        tr:hover {
            background-color: #f1f1f1; /* Màu nền khi di chuột vào hàng */
        }

    th {
        background-color: #007BFF;
        color: #553f3a;
        font-size: 14px;
    }

        th:hover {
            background-color: #388895; /* Màu nền khi di chuột vào tiêu đề */
        }

    .btn-primary {
        background-color: #007BFF;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-edit {
        background-color: #88a764; /* Màu xanh lá cho Chỉnh sửa */
    }

        .btn-edit:hover {
            background-color: #f5f6b4;
            transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
        }

    .btn-details {
        background-color: #8fc8d9; /* Màu xanh dương nhạt cho Chi tiết */
    }

        .btn-details:hover {
            background-color: #c4faf0;
            transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
        }

    .btn-delete {
        background-color: #dc3f1c; /* Màu đỏ cho Xóa bỏ */
    }

        .btn-delete:hover {
            background-color: #df8584;
            transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
        }

    .btn-create {
        background-color: null;
    }

        .btn-create:hover {
            font-weight: bold; /* Chữ sẽ đậm hơn khi hover */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Thêm hiệu ứng bóng đổ khi hover */
            transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
        }

        /* Khi nhấn nút */
        .btn-create:active {
            font-weight: bolder; /* Chữ sẽ đậm hơn khi nhấn */
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Thay đổi bóng đổ khi nhấn */
        }
</style>
<h1>THÔNG TIN HỌC TẬP NGHIÊN CỨU SINH</h1>
<p>
    <a asp-action="Create" style="margin-left:6%;" class="btn btn-create">
        Tạo Mới  <i class="fa-solid fa-plus"></i>
    </a>
</p>
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHocVienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoiTuongDauVaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSinhVienNamNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiHinhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaoTaoTuNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaoTaoDenNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhapHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrangThaiHocNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayChuyenTrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhThoiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLuanVan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBaoVeCapTruong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBaoVeCapCoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuyChuanNguoiHuongDan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiHuongDanChinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiHuongDanPhuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhCongNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQuyetDinhCongNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiTotNghiepNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLapHoiDongBaoVeCapTruong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQuyetDinhThanhLapHoiDongBaoVeCapTruong)
            </th>






            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdHocVienNavigation.IdNguoiNavigation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDoiTuongDauVaoNavigation.DoiTuongDauVao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSinhVienNamNavigation.SinhVienNam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.ChuongTrinhDaoTao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoaiHinhDaoTaoNavigation.LoaiHinhDaoTao)
                </td>
                <td>

                    @if (item.DaoTaoTuNam.HasValue)
                    {
                        <span> @Html.DisplayFor(modelItem => item.DaoTaoTuNam)</span>
                    }
                    else
                    {
                        <p>Chưa nhập ngày</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaoTaoDenNam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhapHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTrangThaiHocNavigation.TrangThaiHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayChuyenTrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinhThoiHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLuanVan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBaoVeCapTruong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBaoVeCapCoSo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuyChuanNguoiHuongDan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNguoiHuongDanChinhNavigation.IdNguoiNavigation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNguoiHuongDanPhuNavigation.IdNguoiNavigation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinhCongNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayQuyetDinhCongNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoaiTotNghiepNavigation.LoaiTotNghiep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinhThanhLapHoiDongBaoVeCapTruong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayQuyetDinhThanhLapHoiDongBaoVeCapTruong)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh" class="btn btn-edit">
                        <i class="fa-solid fa-pen-to-square"></i> Sửa
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh" class="btn btn-details">
                        <i class="fa-solid fa-circle-info"></i> Xem
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh" class="btn btn-delete">
                        <i class="fa-solid fa-trash"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $('#example').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Vietnamese.json"
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
           
        });

    </script>
}
</html>