@model C500Hemis.Models.TbChuongTrinhDaoTao

@{
    ViewData["Title"] = "CHI TIẾT CTĐT";
}

@section Styles {
    <style>
  

        .web-form {
     
            display: flex;
            justify-content: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
        }

        .row {
            display: flex;
            flex-wrap: wrap;
ư
        }

            .row > dt, .row > dd {
                flex: 1 1 50%; /* Chia đôi chiều rộng của mỗi trường thông tin */
                padding: 5px;
            }

            .row > dt {
                font-weight: bold;
            }

        /* Thêm khoảng cách giữa 2 cột */
        .col-half {
            width: 50%;
            box-sizing: border-box;
        }


        /* Đảm bảo chia thành 2 cột, mỗi cột chứa 12 trường */
        .left-column, .right-column {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }

            /* Đặt cột trái và phải */
            .left-column dt, .right-column dt, .left-column dd, .right-column dd {
                display: block;
            }
    </style>
}

<h1 style="text-align:center">THÔNG TIN CHI TIẾT CHƯƠNG TRÌNH ĐÀO TẠO</h1>

<div class="web-form">

    <div class="left-column">
    <dl class="row">
        <dt class = "col-sm-2">
            Mã CTĐT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChuongTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            Tên bằng tiếng Anh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuongTrinhBangTiengAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDauTuyenSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDauTuyenSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCoSoDaoTaoNuocNgoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCoSoDaoTaoNuocNgoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemDaoTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBanHanhChuanDauRa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBanHanhChuanDauRa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianDaoTaoChuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianDaoTaoChuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuanDauRa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuanDauRa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiChungChiDuocChapThuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiChungChiDuocChapThuan)
        </dd>
        <dt class = "col-sm-2">
            Đơn vị thực hiện
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViThucHienChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuanDauRaVeNgoaiNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuanDauRaVeNgoaiNgu)
        </dd>
        </dl> 
        </div>

            <div class="right-column">
                <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuanDauRaVeTinHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuanDauRaVeTinHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocPhiTaiVietNam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocPhiTaiVietNam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocPhiTaiNuocNgoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocPhiTaiNuocNgoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDonViCapBang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDonViCapBangNavigation.DonViCapBang)
        </dd>
        <dt class = "col-sm-2">
            Học chế 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHocCheDaoTaoNavigation.HocCheDaoTao)
        </dd>
        <dt class = "col-sm-2">
            Hình thức CTĐT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiChuongTrinhDaoTaoNavigation.LoaiChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            Chương trình liên kết
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiChuongTrinhLienKetDaoTaoNavigation.LoaiChuongTrinhLienKetDaoTao)
        </dd>
        <dt class = "col-sm-2">
            Ngành đào tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNganhDaoTaoNavigation.NganhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            Quốc gia của trụ sở chính
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocGiaCuaTruSoChinhNavigation.TenNuoc)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái CTĐT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrangThaiCuaChuongTrinhNavigation.TrangThaiChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            Trình độ CTĐT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoDaoTaoNavigation.TrinhDoDaoTao)
        </dd>
    </dl>
</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdChuongTrinhDaoTao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
